.image_skeleton {
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
  
    background: linear-gradient(
      90deg,
      #f0f0f0 25%,
      #e0e0e0 50%,
      #f0f0f0 75%
    );
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  
    // .skeleton_content {
    //   position: absolute;
    //   display: flex;
    //   gap: 8px;
    //   align-items: center;
    //   top: 10px;
    //   right: 10px;
  
    //   .likes_skeleton {
    //     background-color: #fff;
    //     width: 20px;
    //     height: 20px;
    //     border-radius: 30px;
    //   }
  
    //   .count_skeleton {
    //     width: 40px;
    //     height: 10px;
    //     background-color: #fff;
    //   }
    // }
  }
  
 
  @keyframes shimmer {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  